.title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: left;
    margin-left: 100px;
    margin-bottom: -15px;
}

nav{
    text-align: right;
}

.Home {
    font-size: 20px;
    margin-right: 100px;
    margin-top: 50px;
    position: relative;
    bottom: 15px;
}

.Images {
    font-size: 20px;
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
    bottom: 15px;
    left: -50px;
}

img {
    width: 100%;
    height: 100%;
}

.paragraphs {
    border: 5px solid #1E3A5F;
    padding: 5px;
    row-gap: 2;
    column-gap: 2;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    left: 460px;
    bottom: 600px;
    border-radius: 20px;
    font-style: oblique;
    font-size: 20px;
}

footer {
    text-align: center;
}

.design {
    font-size: 20px;
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
    bottom: 15px;
    left: -50px;
}

.imagesabout {
    border: 5px solid #1E3A5F;
    padding: 5px;
    row-gap: 2;
    column-gap: 2;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    left: 460px;
    bottom: 600px;
    border-radius: 20px;
    font-style: oblique;
    font-size: 20px;
}

.pics {
    width: 50%;
    height: 50%;
    margin-left: 50px;
    margin-right: 50px;


}

.minigolfing {
    width: 50%;
    height: 50%;
    border: 5px solid #1E3A5F;
    border-radius: 20px;
    height: 600px;
    box-shadow: 5px 5px 5px #1E3A5F;
}

.sleepypeanut {
    width: 50%;
    height: 50%;
    border: 5px solid #1E3A5F;
    border-radius: 20px;
    height: 600px;
    position: relative;
    left: 700px;
    bottom: 600px;
    box-shadow: 5px 5px 5px #1E3A5F;
}

.minicooper {
    width: 50%;
    height: 50%;
    border: 5px solid #1E3A5F;
    border-radius: 20px;
    height: 600px;
    position: relative;
    bottom: 500px;
    box-shadow: 5px 5px 5px #1E3A5F;
}

.sunset {
    width: 50%;
    height: 50%;
    border: 5px solid #1E3A5F;
    border-radius: 20px;
    height: 600px;
    position: relative;
    left: 700px;
    bottom: 1100px;
    box-shadow: 5px 5px 5px #1E3A5F;
}

.minigolfingpic {
    position: relative;
    left: 80px;
    bottom: 1799px;
    margin: 0px;
    padding: 0px;
}

.sleepypeanutpic {
    position: relative;
    left: 770px;
    bottom: 1800px;
    margin: 0px;
    padding: 0px;
}

.minicooperpic {
    position: relative;
    left: 50px;
    bottom: 1099px;
    margin : 0px;
    padding: 0px;
}

.sunsetpic {
    position: relative;
    left: 800px;
    bottom: 1150px;
}

.designdescription {
    border: 5px solid #1E3A5F;
    padding: 5px;
    row-gap: 2;
    column-gap: 2;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    left: 460px;
    bottom: 600px;
    border-radius: 20px;
    font-size: 20px;
    font-style: oblique;
}

.websitedesign {
    border: 2px solid #1E3A5F;
    border-radius: 20px;
    width: 100%;
    length: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  form h2 {
    font-family: Arial, Helvetica, sans-serif;
  }